2048.pem
2048.pem.pub

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
db.sqlite3
terraform_backup/


__pycache__/
*.pyc
*.pyo
*.pyd

staticfiles/

db.sqlite3
.env
.venv
venv

.git/
